# --- Infrastructure (Terraform) ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# --- Orchestration and Docker (Kestra) ---
postgres_data/
kestra_storage/
ny_taxi_postgres_data/
02-workflow-orchestration/kestra-wd/
.env

# --- DBT (Week 4 - What's New) ---
# Ignore logs and build folders
logs/
target/
dbt_packages/
dbt_modules/

# Ignore dbt state files (if you use local dbt Core)
state/

# --- Python and Jupyter ---
__pycache__/
.ipynb_checkpoints/
.venv/
env/
venv/
*.pyc

# --- Data Files (Vital for not breaking GitHub) ---
*.parquet
*.csv
*.jsonl
*.gz
*.zip

# --- System and Logs ---
.DS_Store
*.log
Thumbs.db

