
# Archivos locales de configuración de Terraform
.terraform/
.terraform.lock.hcl

# Archivos de estado (contienen información sensible de tu infraestructura)
*.tfstate
*.tfstate.backup

# Archivos de variables sensibles (si llegaras a crear alguno)
*.tfvars
*.tfvars.json

# Archivos de sistema y logs
.DS_Store
terraform.log

# --- Kestra & Docker (Semana 2) ---

# Datos de la base de datos de Kestra (PostgreSQL)
# Esto evita que se suban gigabytes de datos locales a GitHub
postgres_data/

# Almacenamiento local de Kestra (archivos temporales y descargas)
kestra_storage/

# Logs de Docker
*.log

# Archivos de entorno (donde podrías guardar llaves de AWS en el futuro)
.env

# Kestra y Bases de datos
02-workflow-orchestration/kestra-wd/
ny_taxi_postgres_data/

# Python y entornos
pipeline/.venv/
pipeline/.ipynb_checkpoints/
__pycache__/

# Archivos de datos grandes
*.parquet
*.csv